body {
    background-color: whitesmoke;
}
.top {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 2%;
}

.bottom {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 90%;
    background-color: rgb(212, 184, 112);
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border-radius: 100%;
    animation: bounce 3s linear infinite,
        move 8s linear infinite,
        rotate 4s linear infinite
}
.part {
    position: relative;
    width: 100px;
    height: 20px;
    top: 40%;
    border-radius: 20%;
    background-color: royalblue;
    align-items: center;
    justify-content: center;
}

@keyframes bounce {
    0% {bottom: 90%;}
    25% {bottom: 10%; height: 100px; width: 100px;}
    30% {bottom: 10%; height: 50px; width: 120px;}
    35% {bottom: 20%; height: 100px; width: 100px;}
    40% {bottom: 30%;}
    50% {bottom: 40%;}
    60% {bottom: 50%;}
    70% {bottom: 60%;}
    80% {bottom: 70%;}
    100% {bottom: 90%;}
}

@keyframes move {
    0% {left: 0%;}
    25% {left: 25%;}
    50% {left: 50%;}    
    75% {left: 75%;}   
    100% {left: 100%;}
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(45deg);}
    50% {transform: rotate(90deg);}
    75% {transform: rotate(135deg);}
    100% {transform: rotate(180deg);}
}